body {
  @font-face: Roboto;
  font-color: green;
  src: url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,200&family=Roboto:ital,wght@1,100&family=Titillium+Web:ital,wght@1,200&display=swap" rel="stylesheet");
url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,200&family=Roboto:ital,wght@1,100&family=Titillium+Web:ital,wght@1,200&display=swap" rel="stylesheet") 
}

h1 {
  color: yellow;
}

p {
  font-color: green;
  @font-face: Roboto;
}
